src/main/resources/db/tablesXML/couriers.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="couriers">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="courier" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:byte" name="id"/>
                            <xs:element type="xs:string" name="name"/>
                            <xs:element type="xs:string" name="lastName"/>
                            <xs:element type="xs:long" name="phone"/>
                            <xs:element type="xs:string" name="vehicleInfo"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>